* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma,
    sans-serif, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  user-select: none;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100%;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  width: 100%;
}

.time--display{
  margin: auto;
  font-size: 64px;
  text-align: center;
  margin-bottom: 1rem;
}

.laptimer{
  margin: 0 auto;
  color: grey;
  font-size: large;
  align-self: center;
}

main {
  text-align: center;
  width: 70%;
  margin: 1em auto;
  overflow-y: auto;
  max-height: 200px;
  color: grey;
} 

main::-webkit-scrollbar{
  width: 10px;
}

main::-webkit-scrollbar-track{
  background: white;
}

main::-webkit-scrollbar-thumb{
  background:#a5a5a5;
}

main::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.lap--heading{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.laps-table{
  margin: auto;
  width: 90%;
  color: rgb(165, 165, 165);
  border-collapse: collapse;
}

th{
  text-align: center;
  border-bottom: 1px solid #555;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button {
  border-radius: 45px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 3rem;
  color: white;
  background-color: royalblue;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  user-select: none;
}

footer {
  /* width: 80%; */
  margin: 1em auto;
  display: grid;
  align-self: flex-end;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr .8fr;
  gap: 1em;
  padding-top: 5px;
  position: static;
  /* border: 1px solid red; */
}

.copyright{
  grid-column: 1/4;
  font-size: 14px;
  grid-row: 2/4;
  align-self: flex-end;
}

.start {
  grid-column: 2;
}

.stop {
  grid-column: 1;
  grid-row: 1;
}

.button--stop {
  background-color: crimson;
  color: white;
}

.moveLeft {
  animation: movetoLeft 0.6s ease-out;
}

.moveRight {
  animation: movetoRight 0.6s ease-out;
}

.lap {
  grid-column: 3;
  grid-row: 1;
}

.button--lap {
  background-color: black;
  color: white;
  transition: 500ms ease-out;
}

.reset {
  grid-column: 3;
  grid-row: 1;
}

.button--reset {
  color: white;
  background-color: black;
}

.resume {
  grid-row: 1;
  grid-column: 1;
}

.button--hide {
  display: none;
}

@keyframes movetoLeft {
  from {
    transform: translateX(130px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes movetoRight {
  from {
    transform: translateX(-130px);
  }
  to {
    transform: translateX(0px);
  }
}

@media(max-width: 600px){
  @keyframes movetoLeft {
    from {
      transform: translateX(45px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes movetoRight {
    from {
      transform: translateX(-45px);
    }
    to {
      transform: translateX(0px);
    }
  }

  main{
    width: 90%;
  }

  tbody tr td:first-of-type{
    padding: .5em;
  }

  footer{
    gap: 0.5em;
  }
}

@media(min-width: 1500px) { 
  .time--display{
    font-size: 100px;
  }

  main{
    width: 70%;
    max-height: 700px;
  }

  footer{
    width: 50%;
  }

  button{
    font-size: 70px;
    padding: 2rem 4rem;
  }

  .copyright{
    font-size: 20px;
  }
}