/* reset begins */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  display: block;
  font-family: sans-serif;
  font-weight: 300;
  height: auto;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 100%;
}

img::before {
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 10px;
}

img::after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 12px;
}
/* reset ends */

.container {
  border: 1px solid red;
  width: 80vw;
  height: 80vh;
  border-radius: 2.7%;
  display: flex;
}

.signin--panel {
  width: 700px;
  padding: 6em 0;
  text-align: center;
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* border: 1px solid black; */
}

.signup--panel {
  background-color: steelblue;
  color: white;
  text-align: center;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
}

.input--boxes {
  margin: 1em;
}

.input--boxes > * {
  margin: 10px auto;
  padding: 1em;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  color: black;
  width: 35vw;
  display: block;
}

.reset--password {
  text-decoration: underline rgba(0, 0, 0, 0.377) 1px;
  color: black;
}

.button--signin {
  margin: 15px 0 auto;
  background-color: transparent;
  border: 2px solid steelblue;
  padding: 1em 3em;
  border-radius: 40px;
}

.button--signin:hover {
  transition: all 0.3s ease-in;
  background-color: steelblue;
  color: white;
}

h1 {
}
